{
    "presets": [
        "es2015-loose",
        "stage-3"
    ],
    "plugins": [
        "transform-class-properties",
        "transform-decorators-legacy",
        "transform-export-extensions",
        "transform-object-rest-spread",
        "transform-runtime"
    ]
}
