@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Noto Sans KR', sans-serif;
}
body {
    background-color: #2f3129;
    color: #f0f0f0;
}
a { color: #66d9ef; } a:visited { color: #e6d874; }
h1, h2, h3 { font-weight: lighter; }
h1.headline { font-weight: normal; }
p { text-indent: 1em; }
iframe {
    display: block;
    margin: 0 auto;
    width: 640px;
    height: 510px;
    border: none;
}
code, pre.code {
    font-family: monospace;
    background-color: #272822;
    word-wrap: break-word;
}
code {
    color: #f92672;
    padding: 3px 5px;
    border-radius: 3px;
}
pre.code {
    padding: 10px 20px;
    border-radius: 5px;
}
pre.simple.code { font-size: 14pt; }
#content {
    margin: 0 auto;
    padding-bottom: 50vh;
    width: 720px;
}
pre code {
    padding: 0px;
}
blockquote {
    border-left: 10px solid rgba(128,128,128,0.075);
    background-color:rgba(128,128,128,0.1);
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    padding:15px 20px
}
